<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Heroku</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Heroku</h1>
    <div class="container">
        <div class="description">
            <p><strong>What is Heroku?</strong><br>
           Heroku is a platform as a service (PaaS) that allows developers to deploy, manage, and scale modern applications.</p>

            <p><strong>What does this application do?</strong><br>
            This app is an example of deployment on Heroku, using Flask for the backend, HTML/CSS for the frontend, and an SQLite database.</p>
        </div>
        <div class="functionality">
            <h2>functionality:</h2>
            <ul>
                <li>Loads a page with basic information.</li>
                <li>Simple connection to the database.</li>
                <li>Containerized and deployed automatically.</li>
            </ul>
        </div>
    </div>
</body>
</html>
